<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <% if product.image.present? %>
    <p>
      <img src="<%= product.image %>" alt="<%= product.name %>" style="width: 100%; height: auto; border-radius: 4px;">
    </p>
  <% end %>

  <p>
    <strong>Price:</strong>
    $<%= number_with_precision(product.price, precision: 2) %>
  </p>
</div>
